div.toyCard {
  box-shadow: 2px 2px 6px 1px rgba(12, 24, 46, .8);
  backdrop-filter: blur(2px);
  background-color: rgba(12, 24, 46, .3);
  color: #fff;
  padding: 24px;
  margin: 16px;
  flex: 1 1 30%;

  .cardHeaderTitle {
    font-size: 1.1rem;
  }
  
  .cardContainer {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 8px;
    color:#bcc0bc;

    .toyImg {
        width: 50%;
        display: block;
        -webkit-background-size: contain;
        background-size: contain;
        -webkit-background-position: top;
        background-position: top;
        object-fit: contain;
    }
  
    .toyContent {
      padding: 0 0 0 24px;
    }
  }

  .icon {
      margin-top: 16px;

    &.red {
        color: red;
    }
  
    &.grey {
      color: grey;
    }
  }
}
